<!-- <a routerLink="/dashboard">Dashboard</a> -->
<nav class="navbar">
    <a class="navbar-brand ms-3 fw-bold" routerLink="/">Finovent</a>
    <div class="nav-wrapper">
        
        <ul class="nav-links" *ngIf="authService.getLoginStatus()">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li *ngIf="!authService.hasAnyRole('professional', 'participant')"><a routerLink="/create-event">Create Event</a></li>
            <li><a routerLink="/add-resource">Add Resource</a></li>
            <li *ngIf="!authService.hasAnyRole('professional', 'participant')"><a routerLink="/assign-professional">Assign Professional</a></li>
            <li *ngIf="!authService.hasAnyRole('participant')"><a routerLink="/update-event-status">Update Status</a></li>
            <li *ngIf="authService.hasAnyRole('participant')"><a routerLink="/add-feedback">Add Feedback</a></li>
            <li><a routerLink="/view-events">View Events</a></li>
        </ul>
        
    </div>
    <button *ngIf="authService.getLoginStatus()" class="logout-btn ms-3" (click)="logout()">Logout</button>
    <button *ngIf="!authService.getLoginStatus()" routerLink="/login" class="login-btn ms-3">Login</button>
    
    <button *ngIf="!authService.getLoginStatus()" routerLink="/registration" class="register ms-3">Register</button>
</nav>

<router-outlet></router-outlet>