



<div class="auth-page">
  <div class="auth-card card">
    <h2>Create Your Finovent Account</h2>
    <form [formGroup]="itemForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Username</label>
        <input id="name" type="text" formControlName="username" placeholder="Your full name" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Your email address" />
      </div>

      <div class="form-group">
        <label for="role">Select Role</label>
        <select id="role" formControlName="role">
          <option [ngValue]="null">Select Role</option>
          <option value="institution">Institution</option>
          <option value="professional">Professional</option>
          <option value="participant">Participant</option>
        </select>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Create password" />
      </div>

      <button type="submit" class="btn-primary">Register</button>

    </form>

    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="alt-link">
      Already have an account? 
      <a routerLink="/login">Login here</a>
    </p>
  </div>
</div>